[Unit]
Description=Service Passerelle API et GPIO de la Manette Tourelle
After=network.target

[Service]
Type=simple
User=soren
# CORRECTION ICI : Chemin aligné avec l'utilisateur soren
WorkingDirectory=/home/soren/tourelle-manette
ExecStart=/usr/bin/python3 /home/soren/tourelle-manette/controller_server.py
Restart=always

[Install]
WantedBy=multi-user.target
